*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
li, a{
    list-style: none; text-decoration: none;
}
.container{
    width: 100%;
}
    /* Header start */
.header{
    width: 100%;
}
.header-top{
    height: 75px;
    background-color: #3E3E3E;
    display: flex;
}
.logo{
   margin: 10px 0 0 240px;
}
.logo .logo-child{
    background-image: url("images/logo1.png");
    width: 260px; height:55px;
    display: block;
}
.search-box> input[type=text]{
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.4), 1px 1px 0 rgba(255, 255, 255, 0.15);
    margin: 17px 0 13px 25px;
    width: 326px; 
    border-radius: 100px;
    color: #9f9f9f;
    background-color: #303137;
    padding: 9px 40px 9px 15px;
    border: 1px;
    font-size: 15px;
}
.search-box> input[type=submit]{
    width: 34px; height: 32px;
    border-radius: 50%;
    background-color: rgb(38, 113, 253);
    margin-left: -34px;
    border: 0;
    
}
.header-line{
    height: 4px;
    background-color: #D7C73F;
}
.header-bot{
    height: 46px;
    background-color: #3E3E3E;
}
.header-bot ul{
    display: flex;
    position: relative;
    left: 220px;
}
.header-bot ul li{
    list-style: none;
    padding: 12px ;
}
.header-bot ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.sub-nav-bar{
    width: fit-content;
    height: 300px;
    display: inline-block;
}
    /* Header stop */
.body-container{
    background-color: #6F6D72;
    width: 100%;
    position: absolute;
}
.body{
    margin: 20px auto 0;
    width: 980px;
    left: 235px;

}
.title{
    font-size: 30px;
    color: #C1B013;
    font-family: Tahoma;
    border-bottom: 2px solid rgb(161, 161, 161);
    margin-bottom: 6px;
    letter-spacing: -1px;
}
.slide-top-movie{
    position: relative;
    display: block;
}
.wrap-top-movie .slide-top-movie{
    width: 980px; height: 331px;
    background-color: #3E3E3E ;
}
.wrap-slide-top ul{
    position: absolute;
    top: 15px;
    left: 15px;
}
.wrap-slide-top ul li{
    width: 225px; height: 300px;
    list-style: none;
    margin-right: 15px;
    float: left;
}
.poster{
    width: 225px; height: 300px;
    background-size: contain;
    position: relative;
}
.wrap-slide-top #poster1{
    background-image: url("images/poster1.jpg");   
}
.wrap-slide-top #poster2{
    background-image: url("images/poster2.jpg");
}
.wrap-slide-top #poster3{
    background-image: url("images/poster3.jpg");
}
.wrap-slide-top #poster4{
    background-image: url("images/poster4.jpg");
}
.poster-discribe{
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    width: 100%;
    bottom: 2px;
    padding: 10px;
    height: 56px;
}
.movie-name1{
    text-decoration: none;
    color: #FF8040;
    font-size: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
    display: block;

}
.movie-name2{
    color: rgb(238, 238, 238);
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin: 5px 0;
}
.phim-chieu-rap{
    width: 660px;
    position: relative;
    left: 184px;
}   
.more-index{
    display: inline-block;
    float: right;
    font-size: 14px;
    color: rgb(218, 216, 216);
    margin-top: 15px;
}
.wrap-phim-chieu-rap {
    clear: both;
    width: 100%;
    display: block;
    
}
.wrap-phim-chieu-rap ul li{
    width: 158px; height: 280px;
    float: left;
    background-color: rgb(52, 52, 53);
    margin: 5px 5px 10px 0;
}
.movie-poster{
    margin: auto;
    width: 154px; height: 205px;
    background-size: contain;
    
}
.movie-name1-1{
    color: #44e2ff;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-size: 14px;
    margin: 5px 0 5px 5px;
}
.movie-name1-2{
    color: rgb(194, 192, 192);
    font-size: 13px;
    margin: 0 0 5px 5px;
}
.time{
    margin-left: 6px;
    color: rgb(144, 144, 144);
}